* {
    box-sizing: border-box;
    max-width: 100%;
}
.header {
    font-family: 'Audiowide', cursive;
    padding: 0px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}
.body {
    background-color: rgb(238, 0, 0);
    min-height: 100vh;
    margin: 0;
    display: center;
    align-items: center;
    color: #dddacb;
}
.grid-container {
    background: linear-gradient(to bottom right,  #d40606,   #f8d215   );
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
    
}
.grid-container {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 4px;
}
.grid-item {
    background: linear-gradient(to bottom right,  #0026ce,   #000000   );
    overflow: hidden;
    
}
.grid-item img {
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover; 
    transition: transform 0.2s ease;
}
.grid-item:hover img {
    transform: scale(1.05);
}
